{{#token}}
<form class="password_reset">
	<div class="success" style="display: none;">
		<p>Password Successfully Updated!</p>
	</div>
	<div class="errors" style="display: none;"></div>
	<fieldset>
		<div class="password">
			<label>New Password<br />
			<input name="password" type="password" /></label><br />
			<label>Repeat New Password<br />
			<input name="password_confirmation" type="password" /></label>
		</div>
	</fieldset>
	<button type="submit">Update Password</button>
</form>
{{/token}}